@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lava-Jato Splash</h1>
    <p>Brilho, Bom preço e Bom atendimento em um só lugar!</p>
    <img src="~/css/img/v10429_64954.png" alt="Alternate Text" width="700px" height="400px">
</div>
